In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./data.csv")

In [3]:
df.shape

(1000, 10)

In [4]:
book = []

In [5]:
df.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Ad Topic Line', 'City', 'Male', 'Country',
       'Timestamp', 'Clicked on Ad'],
      dtype='object')

In [6]:
for i in df['Ad Topic Line']:
    i = i.split(" ")
    for j in i:
        book.append(j)

len(book)

3219

In [7]:
book = pd.DataFrame(np.array(book))

In [8]:
len(book[0].unique())

319

In [9]:
freq = dict(book[0].value_counts())

In [10]:
freq

{'solution': 29,
 'Interface': 26,
 'system': 24,
 'zero': 22,
 'Front-line': 20,
 'structure': 20,
 'asynchronous': 17,
 'success': 17,
 'Configurable': 17,
 'hierarchy': 16,
 'coherent': 16,
 'intangible': 16,
 'engine': 16,
 '5thgeneration': 16,
 'impactful': 15,
 'Ameliorated': 15,
 'stable': 15,
 'Internet': 15,
 'Horizontal': 15,
 'Polarized': 15,
 'Enhanced': 15,
 'emulation': 15,
 'Pre-emptive': 15,
 'application': 15,
 'secured': 15,
 'line': 15,
 'multi-state': 15,
 'Customer-focused': 15,
 'Balanced': 15,
 'Managed': 15,
 'Total': 14,
 'productivity': 14,
 'Versatile': 14,
 'User': 14,
 'website': 14,
 'Customizable': 14,
 'Phased': 14,
 'zero-defect': 14,
 'implementation': 14,
 'capability': 14,
 'management': 14,
 'open': 14,
 'moderator': 14,
 'budgetary': 14,
 'Graphical': 14,
 'contingency': 14,
 'Focused': 14,
 'client-driven': 14,
 'local': 14,
 'support': 14,
 'Networked': 14,
 'Monitored': 14,
 'Reactive': 13,
 'modular': 13,
 'neural-net': 13,
 'executive': 13,
 'even-keeled': 13,
 'definition': 13,
 'Sharable': 13,
 'Proactive': 13,
 'Fully-configurable': 13,
 'Centralized': 13,
 'transitional': 13,
 'architecture': 13,
 'context-sensitive': 13,
 'Business-focused': 12,
 'asymmetric': 12,
 'moratorium': 12,
 'Digitized': 12,
 'Seamless': 12,
 'Re-engineered': 12,
 'tangible': 12,
 'intermediate': 12,
 'Synchronized': 12,
 'synergy': 12,
 'tolerance': 12,
 'reciprocal': 12,
 'systemic': 12,
 'Vision-oriented': 12,
 'flexibility': 12,
 'Up-sized': 12,
 'conglomeration': 12,
 'model': 12,
 'dynamic': 12,
 'incremental': 12,
 'portal': 12,
 'disintermediate': 12,
 'Upgradable': 12,
 'encryption': 12,
 'Graphic': 12,
 'Stand-alone': 12,
 'service-desk': 12,
 'scalable': 12,
 'initiative': 12,
 'empowering': 12,
 'set': 11,
 'instruction': 11,
 'Universal': 11,
 'maximized': 11,
 'benchmark': 11,
 'upward-trending': 11,
 'multimedia': 11,
 'analyzing': 11,
 'logistical': 11,
 'alliance': 11,
 'Triple-buffered': 11,
 'full-range': 11,
 'system-worthy': 11,
 'Realigned': 11,
 'content-based': 11,
 'Grass-roots': 11,
 'Intuitive': 11,
 'high-level': 11,
 'Advanced': 11,
 '24/7': 11,
 'attitude-oriented': 11,
 'non-volatile': 11,
 'intranet': 11,
 'Exclusive': 11,
 'homogeneous': 11,
 'throughput': 11,
 'Integrated': 11,
 'Public-key': 11,
 'generation': 11,
 'next': 11,
 'uniform': 11,
 'Team-oriented': 11,
 'Face-to-face': 11,
 'well-modulated': 11,
 'bi-directional': 11,
 'extranet': 11,
 'real-time': 10,
 'frame': 10,
 'Virtual': 10,
 'fault-tolerant': 10,
 'Synergized': 10,
 'encoding': 10,
 'Inverse': 10,
 'administration': 10,
 'optimizing': 10,
 'Self-enabling': 10,
 'Open-source': 10,
 'Automated': 10,
 'circuit': 10,
 'Organic': 10,
 'mission-critical': 10,
 'knowledge': 10,
 'user': 10,
 'dedicated': 10,
 'responsive': 10,
 'adapter': 10,
 'value-added': 10,
 'attitude': 10,
 'neutral': 10,
 'grid-enabled': 10,
 'database': 10,
 'global': 10,
 'hardware': 10,
 'systematic': 10,
 'orchestration': 10,
 'workforce': 10,
 'array': 10,
 'groupware': 10,
 'software': 10,
 'ability': 9,
 'analyzer': 9,
 'methodical': 9,
 'policy': 9,
 'protocol': 9,
 'Function-based': 9,
 'Future-proofed': 9,
 'tertiary': 9,
 'secondary': 9,
 'holistic': 9,
 'firmware': 9,
 'human-resource': 9,
 'challenge': 9,
 'multi-tasking': 9,
 'Local': 9,
 'superstructure': 9,
 'Area': 9,
 'Network': 9,
 'focus': 9,
 'group': 9,
 'contextually-based': 9,
 'utilization': 9,
 'strategy': 9,
 'Quality-focused': 9,
 'Profound': 9,
 'Assimilated': 9,
 'installation': 9,
 'leadingedge': 9,
 'Organized': 9,
 'standardization': 9,
 'Innovative': 9,
 'interactive': 9,
 'clear-thinking': 9,
 'client-server': 9,
 'Multi-tiered': 9,
 'Multi-layered': 9,
 'approach': 9,
 'Progressive': 9,
 'cohesive': 9,
 'core': 9,
 'help-desk': 9,
 'Robust': 9,
 'forecast': 9,
 'Distributed': 9,
 'regional': 9,
 'Cross-platform': 8,
 'complexity': 8,
 'Mandatory': 8,
 'Multi-channeled': 8,
 'bandwidth-monitored': 8,
 'discrete': 8,
 'Decentralized': 8,
 'monitoring': 8,
 'time-frame': 8,
 'Synergistic': 8,
 'heuristic': 8,
 'Object-based': 8,
 'fresh-thinking': 8,
 'framework': 8,
 'Ergonomic': 8,
 'encompassing': 8,
 'De-engineered': 8,
 'user-facing': 8,
 'exuding': 8,
 '4thgeneration': 8,
 'explicit': 8,
 'Open-architected': 8,
 'Implemented': 8,
 'customer': 8,
 'loyalty': 8,
 'Optimized': 8,
 '3rdgeneration': 8,
 '24hour': 8,
 'pricing': 8,
 'Optional': 8,
 'Operative': 8,
 'User-friendly': 8,
 'Right-sized': 8,
 'Reverse-engineered': 8,
 'middleware': 8,
 'Secured': 8,
 'collaboration': 7,
 'bifurcated': 7,
 'motivating': 7,
 'Expanded': 7,
 'project': 7,
 'Cloned': 7,
 'Cross-group': 7,
 'foreground': 7,
 'Visionary': 7,
 'Reduced': 7,
 'Persevering': 7,
 'info-mediaries': 7,
 'capacity': 7,
 'background': 7,
 'Switchable': 7,
 'data-warehouse': 7,
 'Programmable': 7,
 'mobile': 7,
 'infrastructure': 7,
 'hybrid': 7,
 'Extended': 7,
 'actuating': 7,
 'User-centric': 7,
 'national': 7,
 'optimal': 7,
 'function': 7,
 'demand-driven': 7,
 'interface': 7,
 'solution-oriented': 7,
 'knowledgebase': 7,
 'Streamlined': 7,
 'parallelism': 7,
 'Diverse': 7,
 'algorithm': 6,
 'didactic': 6,
 'toolset': 6,
 'Fundamental': 6,
 'bottom-line': 6,
 'Compatible': 6,
 'Adaptive': 6,
 'object-oriented': 6,
 'hub': 6,
 'Enterprise-wide': 6,
 'leverage': 6,
 'concept': 6,
 'paradigm': 6,
 'archive': 6,
 'task-force': 6,
 'web-enabled': 6,
 'methodology': 6,
 'composite': 6,
 'migration': 6,
 'radical': 6,
 '6thgeneration': 6,
 'Devolved': 6,
 'directional': 6,
 'matrix': 6,
 'Down-sized': 6,
 'needs-based': 5,
 'projection': 5,
 'Multi-lateral': 5,
 'access': 5,
 'eco-centric': 5,
 'product': 5,
 'Profit-focused': 4,
 'improvement': 4,
 'artificial': 4,
 'intelligence': 4,
 'functionalities': 4,
 'Persistent': 4,
 'static': 4,
 'Re-contextualized': 4,
 'process': 4,
 'matrices': 4}

In [11]:
df.shape

(1000, 10)

In [12]:
emptyColumns = []

for i in freq.keys():
    emptyColumns.append(pd.Series([0]*1000))

In [13]:
emptyDF = pd.DataFrame(emptyColumns)
emptyDF = emptyDF.transpose()
emptyDF

,0,1,2,3,4,5,6,7,8,9,...,309,310,311,312,313,314,315,316,317,318
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
emptyDF.columns = freq.keys()

In [15]:
emptyDF

,solution,Interface,system,zero,Front-line,structure,asynchronous,success,Configurable,hierarchy,...,Profit-focused,improvement,artificial,intelligence,functionalities,Persistent,static,Re-contextualized,process,matrices
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
emptyDF.loc[4, 'structure']

0

In [17]:
for i in range(df.shape[0]):
    colWords = df.iloc[i, 4].split(" ")

    for j in colWords:
        emptyDF.loc[i, j] += 1

In [18]:
emptyDF.to_csv("vectorized_name.csv")

In [19]:
newDF = pd.concat([df, emptyDF], axis= 1)

In [20]:
newDF.shape

(1000, 329)

In [21]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_memory = df.memory_usage().sum() / 1024**2 
    print(f"Memory usage of dataframe before reduction {start_memory} MB")   
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_memory = df.memory_usage().sum() / 1024**2
    if verbose: 
        print(f"Memory usage of dataframe after reduction {end_memory} MB")
        print(f"Reduced by {100 * (start_memory - end_memory) / start_memory} % ")
    return df

In [22]:
newDF = reduce_mem_usage(newDF)

Memory usage of dataframe before reduction 2.51019287109375 MB
Memory usage of dataframe after reduction 0.3453521728515625 MB
Reduced by 86.24200646777057 %

In [23]:
emptyColumns = []

for i in range(6):
    emptyColumns.append(pd.Series([0]*1000))

emptyDF = pd.DataFrame(emptyColumns)
emptyDF = emptyDF.transpose()

In [24]:
emptyDF

     0  1  2  3  4  5
0    0  0  0  0  0  0
1    0  0  0  0  0  0
2    0  0  0  0  0  0
3    0  0  0  0  0  0
4    0  0  0  0  0  0
..  .. .. .. .. .. ..
995  0  0  0  0  0  0
996  0  0  0  0  0  0
997  0  0  0  0  0  0
998  0  0  0  0  0  0
999  0  0  0  0  0  0

[1000 rows x 6 columns]

In [25]:
df.loc[2, ['Timestamp']][0]

'2016-03-13 20:35:42'

In [26]:
for i in range(len(df['Timestamp'])):
    # print(i.split(' '))
    date, time = df.loc[i, ['Timestamp']][0].split(' ')
    lst = []
    for k in date.split('-'):
        lst.append(k)
    for k in time.split(':'):
        lst.append(k)
    # print(lst)
    for j in range(len(lst)):
        emptyDF.loc[i, j] = int(lst[j])
    print(emptyDF.loc[i, :])

emptyDF

0    2016
1       3
2      27
3       0
4      53
5      11
Name: 0, dtype: int64
0    2016
1       4
2       4
3       1
4      39
5       2
Name: 1, dtype: int64
0    2016
1       3
2      13
3      20
4      35
5      42
Name: 2, dtype: int64
0    2016
1       1
2      10
3       2
4      31
5      19
Name: 3, dtype: int64
0    2016
1       6
2       3
3       3
4      36
5      18
Name: 4, dtype: int64
0    2016
1       5
2      19
3      14
4      30
5      17
Name: 5, dtype: int64
0    2016
1       1
2      28
3      20
4      59
5      32
Name: 6, dtype: int64
0    2016
1       3
2       7
3       1
4      40
5      15
Name: 7, dtype: int64
0    2016
1       4
2      18
3       9
4      33
5      42
Name: 8, dtype: int64
0    2016
1       7
2      11
3       1
4      42
5      51
Name: 9, dtype: int64
0    2016
1       3
2      16
3      20
4      19
5       1
Name: 10, dtype: int64
0    2016
1       5
2       8
3       8
4      10
5      10
Name: 11, dtype: int64
0    2016
1       6
2       3
3       1
4      14
5      41
Name: 12, dtype: int64
0    2016
1       4
2      20
3      21
4      49
5      22
Name: 13, dtype: int64
0    2016
1       3
2      24
3       9
4      31
5      49
Name: 14, dtype: int64
0    2016
1       3
2       9
3       3
4      41
5      30
Name: 15, dtype: int64
0    2016
1       1
2      30
3      19
4      20
5      41
Name: 16, dtype: int64
0    2016
1       5
2       2
3       7
4       0
5      58
Name: 17, dtype: int64
0    2016
1       2
2      13
3       7
4      53
5      55
Name: 18, dtype: int64
0    2016
1       2
2      27
3       4
4      43
5       7
Name: 19, dtype: int64
0    2016
1       1
2       5
3       7
4      52
5      48
Name: 20, dtype: int64
0    2016
1       3
2      18
3      13
4      22
5      35
Name: 21, dtype: int64
0    2016
1       5
2      20
3       8
4      49
5      33
Name: 22, dtype: int64
0    2016
1       3
2      23
3       9
4      43
5      43
Name: 23, dtype: int64
0    2016
1       6
2      13
3      17
4      27
5       9
Name: 24, dtype: int64
0    2016
1       5
2      27
3      15
4      25
5      52
Name: 25, dtype: int64
0    2016
1       2
2       8
3      10
4      46
5      14
Name: 26, dtype: int64
0    2016
1       7
2      19
3       8
4      32
5      10
Name: 27, dtype: int64
0    2016
1       4
2      14
3       5
4       8
5      35
Name: 28, dtype: int64
0    2016
1       1
2      27
3      12
4      38
5      16
Name: 29, dtype: int64
0    2016
1       7
2       2
3      20
4      23
5      15
Name: 30, dtype: int64
0    2016
1       3
2       1
3      22
4      13
5      37
Name: 31, dtype: int64
0    2016
1       7
2      15
3       5
4       5
5      14
Name: 32, dtype: int64
0    2016
1       1
2      14
3      14
4       0
5       9
Name: 33, dtype: int64
0    2016
1       3
2      15
3       3
4      12
5      25
Name: 34, dtype: int64
0    2016
1       4
2      12
3       3
4      26
5      39
Name: 35, dtype: int64
0    2016
1       4
2       7
3      15
4      18
5      10
Name: 36, dtype: int64
0    2016
1       2
2       9
3       5
4      28
5      18
Name: 37, dtype: int64
0    2016
1       5
2       7
3      17
4      11
5      49
Name: 38, dtype: int64
0    2016
1       3
2      11
3       6
4      49
5      10
Name: 39, dtype: int64
0    2016
1       4
2      27
3       9
4      27
5      58
Name: 40, dtype: int64
0    2016
1       4
2      16
3      11
4      53
5      43
Name: 41, dtype: int64
0    2016
1       5
2       8
3      15
4      38
5      46
Name: 42, dtype: int64
0    2016
1       2
2       8
3       0
4      23
5      38
Name: 43, dtype: int64
0    2016
1       2
2      11
3      13
4      26
5      22
Name: 44, dtype: int64
0    2016
1       2
2      17
3      13
4      16
5      33
Name: 45, dtype: int64
0    2016
1       2
2      26
3      22
4      46
5      43
Name: 46, dtype: int64
0    2016
1       6
2       8
3      18
4      54
5       1
Name: 47, dtype: int64
0    2016
1       1
2       8
3       9
4      32
5      26
Name: 48, dtype: int64
0    2016
1       4
2      25
3      11
4       1
5      54
Name: 49, dtype: int64
0    2016
1       4
2       4
3       7
4       7
5      46
Name: 50, dtype: int64
0    2016
1       5
2       3
3      21
4      19
5      58
Name: 51, dtype: int64
0    2016
1       1
2      17
3       9
4      31
5      36
Name: 52, dtype: int64
0    2016
1       3
2       2
3       4
4      57
5      51
Name: 53, dtype: int64
0    2016
1       2
2      14
3       7
4      36
5      58
Name: 54, dtype: int64
0    2016
1       4
2       7
3       3
4      56
5      16
Name: 55, dtype: int64
0    2016
1       2
2      17
3      11
4      42
5       0
Name: 56, dtype: int64
0    2016
1       4
2      10
3       0
4      13
5      47
Name: 57, dtype: int64
0    2016
1       2
2      14
3      17
4       5
5      15
Name: 58, dtype: int64
0    2016
1       5
2      26
3      22
4      49
5      47
Name: 59, dtype: int64
0    2016
1       4
2      30
3       8
4       7
5      13
Name: 60, dtype: int64
0    2016
1       6
2      15
3       5
4      30
5      13
Name: 61, dtype: int64
0    2016
1       3
2       9
3      14
4      45
5      33
Name: 62, dtype: int64
0    2016
1       3
2      31
3      20
4      55
5      22
Name: 63, dtype: int64
0    2016
1       6
2       3
3       0
4      55
5      23
Name: 64, dtype: int64
0    2016
1       3
2      10
3      23
4      36
5       3
Name: 65, dtype: int64
0    2016
1       1
2       8
3       0
4      17
5      27
Name: 66, dtype: int64
0    2016
1       6
2       5
3      22
4      11
5      34
Name: 67, dtype: int64
0    2016
1       1
2      16
3      11
4      35
5       1
Name: 68, dtype: int64
0    2016
1       4
2      22
3      20
4      10
5      22
Name: 69, dtype: int64
0    2016
1       2
2       1
3       9
4       0
5      55
Name: 70, dtype: int64
0    2016
1       7
2       7
3      13
4      37
5      34
Name: 71, dtype: int64
0    2016
1       3
2       8
3       0
4      37
5      54
Name: 72, dtype: int64
0    2016
1       5
2      10
3      17
4      39
5       6
Name: 73, dtype: int64
0    2016
1       4
2       6
3      11
4      24
5      21
Name: 74, dtype: int64
0    2016
1       4
2       1
3      16
4      21
5       5
Name: 75, dtype: int64
0    2016
1       1
2       5
3       4
4      18
5      46
Name: 76, dtype: int64
0    2016
1       5
2      20
3      21
4      31
5      24
Name: 77, dtype: int64
0    2016
1       2
2       3
3       7
4      59
5      16
Name: 78, dtype: int64
0    2016
1       2
2      17
3      21
4      55
5      29
Name: 79, dtype: int64
0    2016
1       1
2      30
3      16
4      10
5       4
Name: 80, dtype: int64
0    2016
1       5
2      15
3      14
4      41
5      49
Name: 81, dtype: int64
0    2016
1       1
2       5
3      17
4      56
5      52
Name: 82, dtype: int64
0    2016
1       4
2      19
3       7
4      34
5      28
Name: 83, dtype: int64
0    2016
1       3
2      15
3      15
4      49
5      14
Name: 84, dtype: int64
0    2016
1       6
2      12
3      15
4      25
5      44
Name: 85, dtype: int64
0    2016
1       7
2       1
3       4
4      41
5      57
Name: 86, dtype: int64
0    2016
1       5
2       8
3      12
4      12
5       4
Name: 87, dtype: int64
0    2016
1       3
2      14
3      23
4      13
5      11
Name: 88, dtype: int64
0    2016
1       5
2      25
3       0
4      19
5      57
Name: 89, dtype: int64
0    2016
1       5
2      13
3      11
4      51
5      10
Name: 90, dtype: int64
0    2016
1       2
2      20
3      20
4      47
5       5
Name: 91, dtype: int64
0    2016
1       5
2      22
3      20
4      49
5      37
Name: 92, dtype: int64
0    2016
1       4
2      10
3       2
4       2
5      36
Name: 93, dtype: int64
0    2016
1       2
2      28
3       6
4      41
5      44
Name: 94, dtype: int64
0    2016
1       7
2       8
3      21
4      18
5      32
Name: 95, dtype: int64
0    2016
1       4
2      19
3      15
4      14
5      58
Name: 96, dtype: int64
0    2016
1       1
2       8
3      22
4      47
5      10
Name: 97, dtype: int64
0    2016
1       3
2      28
3       8
4      46
5      26
Name: 98, dtype: int64
0    2016
1       7
2       2
3      14
4      57
5      53
Name: 99, dtype: int64
0    2016
1       7
2       3
3       9
4      22
5      30
Name: 100, dtype: int64
0    2016
1       6
2       1
3       9
4      27
5      34
Name: 101, dtype: int64
0    2016
1       7
2       9
3      14
4      55
5      36
Name: 102, dtype: int64
0    2016
1       2
2       9
3      22
4       4
5      54
Name: 103, dtype: int64
0    2016
1       6
2      10
3      11
4      31
5      33
Name: 104, dtype: int64
0    2016
1       2
2      14
3       3
4      50
5      52
Name: 105, dtype: int64
0    2016
1       7
2       5
3      17
4      17
5      49
Name: 106, dtype: int64
0    2016
1       4
2      28
3       5
4      50
5      25
Name: 107, dtype: int64
0    2016
1       4
2       3
3       5
4      10
5      31
Name: 108, dtype: int64
0    2016
1       3
2       9
3      14
4      57
5      11
Name: 109, dtype: int64
0    2016
1       1
2      16
3      23
4      37
5      51
Name: 110, dtype: int64
0    2016
1       7
2       3
3       4
4      33
5      41
Name: 111, dtype: int64
0    2016
1       3
2      14
3       6
4      46
5      14
Name: 112, dtype: int64
0    2016
1       1
2       9
3       5
4      44
5      56
Name: 113, dtype: int64
0    2016
1       2
2      11
3       4
4      37
5      34
Name: 114, dtype: int64
0    2016
1       6
2      22
3       7
4      33
5      21
Name: 115, dtype: int64
0    2016
1       7
2      13
3      16
4      12
5      24
Name: 116, dtype: int64
0    2016
1       7
2      23
3      11
4      46
5      28
Name: 117, dtype: int64
0    2016
1       7
2      13
3       4
4      10
5      53
Name: 118, dtype: int64
0    2016
1       6
2      11
3      18
4      32
5      12
Name: 119, dtype: int64
0    2016
1       5
2       8
3      12
4      51
5       0
Name: 120, dtype: int64
0    2016
1       4
2       7
3      16
4       2
5       2
Name: 121, dtype: int64
0    2016
1       2
2       4
3      13
4      30
5      32
Name: 122, dtype: int64
0    2016
1       2
2      26
3      19
4      48
5      23
Name: 123, dtype: int64
0    2016
1       6
2      21
3      13
4      15
5      21
Name: 124, dtype: int64
0    2016
1       5
2      17
3       4
4      27
5      31
Name: 125, dtype: int64
0    2016
1       4
2      18
3      15
4      54
5      33
Name: 126, dtype: int64
0    2016
1       4
2       3
3      10
4       7
5      56
Name: 127, dtype: int64
0    2016
1       4
2       4
3      21
4      30
5      46
Name: 128, dtype: int64
0    2016
1       7
2       6
3      16
4       0
5      33
Name: 129, dtype: int64
0    2016
1       5
2       4
3       9
4       0
5      24
Name: 130, dtype: int64
0    2016
1       6
2      13
3      18
4      50
5       0
Name: 131, dtype: int64
0    2016
1       1
2       3
3      16
4       1
5      40
Name: 132, dtype: int64
0    2016
1       1
2      14
3       0
4      23
5      10
Name: 133, dtype: int64
0    2016
1       1
2      12
3      10
4       7
5      29
Name: 134, dtype: int64
0    2016
1       4
2      16
3      12
4       9
5      25
Name: 135, dtype: int64
0    2016
1       5
2      13
3       6
4       9
5      28
Name: 136, dtype: int64
0    2016
1       3
2      27
3      23
4      59
5       6
Name: 137, dtype: int64
0    2016
1       2
2       3
3      23
4      47
5      56
Name: 138, dtype: int64
0    2016
1       4
2      18
3      11
4      23
5       5
Name: 139, dtype: int64
0    2016
1       2
2       5
3      19
4       6
5       1
Name: 140, dtype: int64
0    2016
1       3
2      21
3      18
4      46
5      41
Name: 141, dtype: int64
0    2016
1       6
2      14
3      11
4      59
5      58
Name: 142, dtype: int64
0    2016
1       2
2       6
3      23
4       8
5      57
Name: 143, dtype: int64
0    2016
1       3
2      12
3       1
4      39
5      19
Name: 144, dtype: int64
0    2016
1       1
2      26
3       3
4      56
5      18
Name: 145, dtype: int64
0    2016
1       2
2       7
3       8
4       2
5      31
Name: 146, dtype: int64
0    2016
1       5
2       5
3       7
4      58
5      22
Name: 147, dtype: int64
0    2016
1       6
2      29
3       2
4      43
5      29
Name: 148, dtype: int64
0    2016
1       4
2      10
3      19
4      48
5       1
Name: 149, dtype: int64
0    2016
1       2
2      10
3       6
4      37
5      56
Name: 150, dtype: int64
0    2016
1       5
2      28
3      20
4      41
5      50
Name: 151, dtype: int64
0    2016
1       3
2      24
3       6
4      36
5      52
Name: 152, dtype: int64
0    2016
1       2
2      12
3      22
4      51
5       8
Name: 153, dtype: int64
0    2016
1       6
2      10
3      10
4      11
5       0
Name: 154, dtype: int64
0    2016
1       3
2      31
3      10
4      44
5      46
Name: 155, dtype: int64
0    2016
1       2
2      14
3       6
4      51
5      43
Name: 156, dtype: int64
0    2016
1       1
2       7
3      19
4      16
5       5
Name: 157, dtype: int64
0    2016
1       2
2       4
3       2
4      13
5      52
Name: 158, dtype: int64
0    2016
1       5
2       9
3       2
4      58
5      58
Name: 159, dtype: int64
0    2016
1       6
2      23
3       0
4      16
5       2
Name: 160, dtype: int64
0    2016
1       6
2      20
3       9
4      35
5       2
Name: 161, dtype: int64
0    2016
1       2
2      29
3      12
4      31
5      57
Name: 162, dtype: int64
0    2016
1       1
2      17
3      15
4      10
5      31
Name: 163, dtype: int64
0    2016
1       1
2      29
3       3
4      54
5      19
Name: 164, dtype: int64
0    2016
1       7
2      14
3      12
4       7
5      10
Name: 165, dtype: int64
0    2016
1       1
2      10
3      23
4      14
5      30
Name: 166, dtype: int64
0    2016
1       4
2      28
3      18
4      34
5      56
Name: 167, dtype: int64
0    2016
1       7
2       6
3      18
4      36
5       1
Name: 168, dtype: int64
0    2016
1       5
2      27
3       6
4      19
5      27
Name: 169, dtype: int64
0    2016
1       1
2      25
3       7
4      39
5      41
Name: 170, dtype: int64
0    2016
1       5
2       8
3      22
4      47
5      18
Name: 171, dtype: int64
0    2016
1       3
2      19
3      14
4      23
5      45
Name: 172, dtype: int64
0    2016
1       7
2      23
3       4
4      37
5       5
Name: 173, dtype: int64
0    2016
1       6
2      23
3       1
4      22
5      43
Name: 174, dtype: int64
0    2016
1       7
2      19
3      18
4       6
5      22
Name: 175, dtype: int64
0    2016
1       2
2      28
3      18
4      52
5      44
Name: 176, dtype: int64
0    2016
1       2
2      10
3       6
4      52
5       7
Name: 177, dtype: int64
0    2016
1       3
2      27
3       9
4      11
5      10
Name: 178, dtype: int64
0    2016
1       5
2      23
3       2
4      15
5       4
Name: 179, dtype: int64
0    2016
1       1
2       3
3       3
4      22
5      15
Name: 180, dtype: int64
0    2016
1       1
2       4
3      21
4      48
5      38
Name: 181, dtype: int64
0    2016
1       5
2      24
3      13
4      30
5      38
Name: 182, dtype: int64
0    2016
1       2
2       1
3      19
4      42
5      40
Name: 183, dtype: int64
0    2016
1       6
2       5
3      13
4      16
5      24
Name: 184, dtype: int64
0    2016
1       2
2       4
3       8
4      53
5      37
Name: 185, dtype: int64
0    2016
1       3
2      24
3      13
4      37
5      53
Name: 186, dtype: int64
0    2016
1       6
2       2
3      21
4       2
5      22
Name: 187, dtype: int64
0    2016
1       2
2      21
3       7
4      42
5      48
Name: 188, dtype: int64
0    2016
1       6
2      26
3      17
4      16
5      26
Name: 189, dtype: int64
0    2016
1       1
2       3
3       5
4      34
5      33
Name: 190, dtype: int64
0    2016
1       3
2       8
3      18
4       0
5      43
Name: 191, dtype: int64
0    2016
1       6
2      19
3       3
4      19
5      44
Name: 192, dtype: int64
0    2016
1       7
2      21
3      21
4      16
5      35
Name: 193, dtype: int64
0    2016
1       2
2      12
3      20
4      36
5      40
Name: 194, dtype: int64
0    2016
1       5
2      17
3       6
4      14
5      20
Name: 195, dtype: int64
0    2016
1       7
2       9
3      11
4       4
5      54
Name: 196, dtype: int64
0    2016
1       3
2      27
3       2
4      35
5      29
Name: 197, dtype: int64
0    2016
1       1
2      16
3       8
4       1
5      40
Name: 198, dtype: int64
0    2016
1       1
2      21
3      23
4      48
5      29
Name: 199, dtype: int64
0    2016
1       6
2       5
3       0
4      29
5      13
Name: 200, dtype: int64
0    2016
1       2
2      13
3      15
4      37
5      36
Name: 201, dtype: int64
0    2016
1       5
2      10
3       7
4      22
5      37
Name: 202, dtype: int64
0    2016
1       3
2      27
3       3
4      59
5      26
Name: 203, dtype: int64
0    2016
1       5
2      24
3      18
4      35
5      58
Name: 204, dtype: int64
0    2016
1       2
2      11
3       2
4      40
5       2
Name: 205, dtype: int64
0    2016
1       4
2      22
3       8
4      31
5      24
Name: 206, dtype: int64
0    2016
1       1
2      13
3       2
4      58
5      27
Name: 207, dtype: int64
0    2016
1       6
2      16
3       2
4       1
5      24
Name: 208, dtype: int64
0    2016
1       6
2      27
3      18
4      37
5       4
Name: 209, dtype: int64
0    2016
1       7
2       3
3      12
4      57
5       3
Name: 210, dtype: int64
0    2016
1       2
2       3
3       4
4      21
5      14
Name: 211, dtype: int64
0    2016
1       5
2      29
3      21
4      17
5      10
Name: 212, dtype: int64
0    2016
1       4
2       3
3      21
4      13
5      46
Name: 213, dtype: int64
0    2016
1       4
2      15
3      11
4      51
5      14
Name: 214, dtype: int64
0    2016
1       6
2      21
3       3
4      14
5      41
Name: 215, dtype: int64
0    2016
1       3
2      14
3      14
4      13
5       5
Name: 216, dtype: int64
0    2016
1       5
2       6
3      21
4       7
5      31
Name: 217, dtype: int64
0    2016
1       6
2      12
3      17
4      52
5      43
Name: 218, dtype: int64
0    2016
1       1
2      11
3       7
4      36
5      22
Name: 219, dtype: int64
0    2016
1       7
2       2
3       0
4      24
5      22
Name: 220, dtype: int64
0    2016
1       3
2       4
3      10
4      13
5      48
Name: 221, dtype: int64
0    2016
1       3
2      24
3       9
4      12
5      52
Name: 222, dtype: int64
0    2016
1       2
2      14
3       7
4      30
5      24
Name: 223, dtype: int64
0    2016
1       4
2      25
3       7
4      30
5      21
Name: 224, dtype: int64
0    2016
1       2
2      10
3      19
4      20
5      51
Name: 225, dtype: int64
0    2016
1       4
2      23
3      14
4      34
5      38
Name: 226, dtype: int64
0    2016
1       6
2      18
3      17
4      56
5      32
Name: 227, dtype: int64
0    2016
1       7
2      17
3       1
4      58
5      53
Name: 228, dtype: int64
0    2016
1       4
2      27
3       4
4      28
5      17
Name: 229, dtype: int64
0    2016
1       4
2      21
3      20
4      29
5      35
Name: 230, dtype: int64
0    2016
1       3
2      23
3       6
4       0
5      15
Name: 231, dtype: int64
0    2016
1       7
2      19
3       7
4      59
5      18
Name: 232, dtype: int64
0    2016
1       6
2      26
3      11
4      52
5      18
Name: 233, dtype: int64
0    2016
1       3
2      30
3      23
4      40
5      52
Name: 234, dtype: int64
0    2016
1       3
2      16
3       7
4      59
5      37
Name: 235, dtype: int64
0    2016
1       5
2       4
3       0
4       1
5      33
Name: 236, dtype: int64
0    2016
1       7
2       2
3      21
4      22
5      23
Name: 237, dtype: int64
0    2016
1       5
2      23
3      21
4      14
5      38
Name: 238, dtype: int64
0    2016
1       1
2      29

        0  1   2   3   4   5
0    2016  3  27   0  53  11
1    2016  4   4   1  39   2
2    2016  3  13  20  35  42
3    2016  1  10   2  31  19
4    2016  6   3   3  36  18
..    ... ..  ..  ..  ..  ..
995  2016  2  11  21  49   0
996  2016  4  22   2   7   1
997  2016  2   1  17  24  57
998  2016  3  24   2  35  54
999  2016  6   3  21  43  21

[1000 rows x 6 columns]

In [27]:
emptyDF

        0  1   2   3   4   5
0    2016  3  27   0  53  11
1    2016  4   4   1  39   2
2    2016  3  13  20  35  42
3    2016  1  10   2  31  19
4    2016  6   3   3  36  18
..    ... ..  ..  ..  ..  ..
995  2016  2  11  21  49   0
996  2016  4  22   2   7   1
997  2016  2   1  17  24  57
998  2016  3  24   2  35  54
999  2016  6   3  21  43  21

[1000 rows x 6 columns]

In [29]:
emptyDF[0].value_counts()

2016    1000
Name: 0, dtype: int64